# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


*/*iml
*/target
myself-api-gateway/src/test/
myself-api-gateway/target/
myself-common-mapper/src/
myself-common-mapper/target/
myself-common-model/src/main/resources/
myself-common-model/src/test/
myself-common-model/target/
myself-common/src/
myself-common/target/
myself-dashboard/src/test/
myself-dashboard/target/
myself-service-college-api/src/main/resources/
myself-service-college-api/src/test/
myself-service-college-api/target/
myself-service-college/src/test/
myself-service-college/target/
myself-service-enterprise-api/src/main/resources/
myself-service-enterprise-api/src/test/
myself-service-enterprise-api/target/
myself-service-enterprise/src/test/
myself-service-enterprise/target/
myself-service-user-api/src/main/resources/
myself-service-user-api/src/test/
myself-service-user-api/target/
myself-service-user/src/test/
myself-service-user/target/
myself-turbine/src/test/
myself-turbine/target/
myself-web-college/src/test/
myself-web-college/target/
myself-web-enterprise/src/test/
myself-web-enterprise/target/
myself-web-user/src/test/
myself-web-user/target/
myself-zipkin/src/test/
myself-zipkin/target/
